* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --primary-color: #5448ff;
  --light-color: #7a7777;
  --dark-color: #111;
  --orange: #c26c25;
}

body {
  font-family: "Poppins", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background: #ffff;
}

a {
  text-decoration: none;
  color: #333;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

/*Navigation bar*/
.navbar {
  background: #ffff;
  padding: 20px;
}

.navbar .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navbar .main-menu ul {
  display: flex;
}

.navbar ul li a {
  padding: 10px 20px;
  display: block;
  font-weight: 600;
  transition: 0.5s;
}

.navbar ul li a:hover {
  color: var(--primary-color);
}

/*Hero*/

.hero {
  margin-bottom: 50px;
}
.hero .container {
  background-image: url("../images/hero-bg.png") no-repeat;
  background-size: contain;
  background-position: center bottom;
  height: 550px;
}

.hero .hero-content {
  width: 70%;
}

.hero .hero-text {
  width: 70%;
  margin-bottom: 20px;
}

/* Video */
.video {
  padding: 10px 0 40px;
}

.video-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.video-preview {
  margin-bottom: 20px;
}

/*Reviews*/
.reviews {
  padding: 40px 0;
}

.reviews .review-headings {
  width: 700px;
  margin-bottom: 40px;
}

.review-grids {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 30px;
}

.reviews .card p:nth-child(2) {
  margin-top: 30px;
  font-weight: bold;
}

/*Leave A Reviw*/
.submit-review h3 {
  display: flex;
}

.submit-review p {
  display: flex;
}

/*FAQ*/
.faq {
  padding: 40px 0;
}

.faq .faq-group {
  border-bottom: 1px solid #ccc;
  padding-bottom: 20px;
}

.faq .faq-group .faq-group-header {
  padding: 20px 0;
  margin-bottom: 15px;
  position: relative;
}

.faq .faq-group .faq-group-header h4 {
  font-weight: 600;
  width: 95%;
}

.faq .faq-group .faq-group-header i {
  position: absolute;
  right: 0;
  top: 35px;
  font-size: 1.3rem;
  cursor: pointer;
}

.faq .faq-group .faq-group-body {
  display: none;
}

.faq .faq-group .faq-group-body.open {
  display: block;
}

/* Global Styles */
h2 {
  text-align: center;
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 10px;
}

input[type="text"],
input[type="email"],
input[type="password"],
select {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

select {
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg fill="black" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/><path d="M0 0h24v24H0z" fill="none"/></svg>');
  background-repeat: no-repeat;
  background-position-x: calc(100% - 12px);
  background-position-y: center;
}

input[type="submit"] {
  width: 40%;
  background-color: var(--primary-color);
  color: #fff;
  border: none;
  padding: 15px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
  display: block;
  margin: auto;
}

input[type="submit"]:hover {
  background-color: #0056b3;
}

.error {
  color: red;
  margin-bottom: 20px;
}

/*Registration*/
.genderoptions {
  padding: 10px;
}

.genderoptions ul {
  display: flex;
  margin: auto;
}

.genderoptions ul li {
  display: flex;
  margin: 0;
  padding: 15px;
}

.genderoptions ul li label {
  display: flex;
  margin: auto;
  padding-left: 5px;
}

/*Utility Classes*/
.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 15px;
}

.container label {
  padding-top: 15px;
}

.container-sm {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 15px;
}

/*Cards*/
.card {
  background: #fff;
  color: #000;
  border-radius: 10px;
  padding: 20px;
}

.card-with-padding {
  padding-bottom: 20px; /* Adjust the value as needed */
}

/*Buttons*/
.btn {
  display: inline-blocks;
  padding: 13px 20px;
  background: var(--light-color);
  color: #333;
  font-weight: 600;
  text-decoration: none;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  transition: 0.5s;
}

.btn:hover {
  opacity: 0.8;
}

.btn-primary {
  background: var(--primary-color);
  color: #fff;
}

.btn-dark {
  background: var(--dark-color);
  color: #fff;
}

.btn-light {
  background-color: var(--light-color);
  color: #fff;
}

.btn-block {
  display: block;
  width: 100%;
}

/*Text Classes*/
.text-xxl {
  font-size: 3rem;
  line-height: 1.2;
  font-weight: 600;
  margin: 40px 0 20px;
}

.text-xl {
  font-size: 2.2rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 40px 0 20px;
}

.text-lg {
  font-size: 1.8rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 30px 0 20px;
}

.text-md {
  font-size: 1.2rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 20px 0 10px;
}

.text-sm {
  font-size: 0.9rem;
  line-height: 1.4;
  font-weight: normal;
  margin: 10px 0 5px;
}

.text-center {
  text-align: center;
}

/*Background*/

.bg-primary {
  background: var(--primary-color);
  color: #fff;
}

.bg-light {
  background: var(--light-color);
  color: #333;
}

.bg-dark {
  background: var(--dark-color);
  color: #fff;
}

.bg-black {
  background: #000;
  color: #fff;
}

.bg-orange {
  background: var(--orange);
  color: #000;
}
